<?php 
date_default_timezone_set('EST');
$page_heading = 'Brad Traversy&apos;s Laravel Tutorial - Dec. 01, 2022';
$title = 'Brad Traversy&apos;s Laravel Tutorial - Dec. 01, 2022';
$lastMod = "Modified: " . date("D M j Y G:i:s T", getlastmod());
 ?>
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <?php print $title; ?>
  </title>
  <link rel="icon" type="image/ico" href="favicon.ico">
  <link rel="shortcut icon" type="image/ico" href="favicon.ico">
  <style>
/** if needed add style here */
  </style>
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
        crossorigin="anonymous">    <!-- BOOTSTRAP STYLE -->
    <link 
        rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link 
        href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" 
        rel="stylesheet"> 
    <link href="assets/css/notes.css" rel="stylesheet" type="text/css" media="screen"> 
</head>

<body>
  <!--    ^:begin    id:pagewidth    ^    -->
  <section id="pagewidth" class="container">

    <!--    ^:begin    class:content    ^    -->
    <div class="content">
    <section id="header">  
        <h1 class="bg-dark text-light text-end pe-3"><?php print $page_heading; ?></h1>
</section>
<section id="json_data">
 
<?php
 
if(file_exists('glossary_laravel.json'))
{
    $filename = 'glossary_laravel.json';
    $data = file_get_contents($filename); //data read from json file
    
    $users = json_decode($data);  //decode a data


?>
<div class="container" style="width:500px;">
       <div class="table-container clear">
<?php
    $arr = json_decode($data, true);
    $sort = array();
    echo '<h3>From JSON file glossary_laravel.json</h3>';
    foreach($arr as $k => $v) {
        $sort['term'][$k] = $v['term'];
        $sort['definition'][$k] = $v['definition'];
    }

    //aqui é realizado a ordenação do array
    array_multisort($sort['term'], SORT_ASC, $sort['term'], SORT_ASC,$arr);

    //abaixo é listado o resultado ordenado  
    foreach($arr as $k => $v) {
        echo '<strong>'. $sort['term'][$k] = $v['term'] . '</strong> - ';
        echo $sort['definition'][$k] = $v['definition'] . '<br>';
    }
}
 ?>

</div>
</div>
</section>
<section id="general_notes">
      <div class="row col-md notes"> <!-- ^:begin #general_notes ^ -->
        <h2>General Notes</h2>
       <div class="col ">
        <h3>Views</h3>
        <p><strong>Remember:</strong> VIEWS don't have to be BLADE templates (though for the most part, they will be)</p>
        </div>
        <div class="col ">
        <h3>Migrations</h3>
        <p>Migrations in Laravel are files than can be executed to modify the database without need to use <code>$> mysql</code> or e.g. phpMyAdmin. Data can be added to or removed from a database using the <code class="cli">php artisan migrate</code> command with the <code>up</code> or <code>down</code> methods.</p>
        <p>If a migration fails, or you need to otherwise remove what was changed in the database after a migration command, 
        </div> 
      </div> <!-- $ :end #general_notes $ -->
</section>    
      <div id="laravel_glossary"> <!-- ^:begin #LARAVEL_GLOSSARY ^ -->
        <h2>Glossary:</h2>
        <dl id="laravel_notes_dl" class="row col-md">
    <dt id="artisan_cmds">Artisan Commands</dt>
    <dd class="col"><p>@2:54 - Create a symlink from the storage folder (e.g. images) to the public resources folder.</p>
    <code class="code">php artisan storage:link</code><p>Then we have to change the path in the web app to point to the new stored image. It must be done in 2 places: the "card" <code>listing-card.blade.php</code>, 
            <dt id="routing">Routing and Responses</dt>
            <dd class="col">Where we load our views, controllers, etc.
                <pre>#       /laragigs/routes/
#       |-- api.php
#       |-- channels.php
#       |-- controls.php
#       |-- web.php</pre>
            </dd>
            <dt>Die, Dump (and Debug)</dt>
            <dd class="col">Place either of these in the code to return debugging info: <code>dd($val)</code> or <code>ddd($val)</code>
            </dd>
            <dt>Wildcards</dt>
            <dd class="col">using double curly-braces <code>{{ }}</code> we can return the value of a variable. E.g. <code>{{$variable}}</code>
            <dt>Blade templates (M <span class="red underline">V</span> C)</dt>
            <dd class="col">Allow for the use of <code>{{ }}</code> curly braces in the HTML
            <pre>#       /laragigs/resources/views/
#       |-- welcome.blade.php                
#       |-- layout.blade.php                
#       |-- listings.blade.php
            </pre>
                <p>These are the files which are the HTML templates. </p>
            </dd>
            <dt id="directives_dd">DIRECTIVES</dt>
            <dd class="col">
            <div class="dd_div">Loops, Conditionals, and etc in Laravel.</div>
            <div class="dd_div">Directives begin with the @ symbol. Can be used in Blade templates</div>
                <p><code class="cli">@yeild('content');</code> is going to render the content in ./views/layout.blade.php</p>
            </dd>
            <dt>Models (<span class="red underline">M</span>VC)</dt>
            <dd>                
            <pre>#       /laragigs/app/Models/
#       |-- User.php
#       |-- Listing.php</pre>
with User.php, user functionality is built-in to Laravel.
            </dd>
            <dt id="migrations">Migrations</dt>
            <dd class="col">
                <div class="dd_div">Files that can be executed to create database tables etc. <strong>Credentials</strong> can be stored in the <strong>ENV</strong> file.</div>
                <div class="dd_div italic">All migrations are a class{} with an up() and a down() method.</div>
                <div class="dd_div">The following command will create a file under --database > migrations | which will then create the listings table for this tutorial. Copy and paste the following into a terminal. Ensure the terminal is in the root directory of your project.<code class="cli">php artisan make:migration create_listings_table</code></div>
                <pre>#       /laragigs/database/migrations/
#       |-- yyyy_mm_dd_create_nameof_table.php
#       |-- yyyy_mm_dd_create_nameof_table2.php</pre>
                    <p>Using simple commands, <code>artisan</code> will manage the database. E.g. <code class="cli">php artisan migrate</code> takes the info from the Migrations files and creates database tables. Then a command like <code class="cli">php artisan db:seed</code> will populate the db. If needed, we can use <code class="cli">php artisan migrate:refresh</code> to re-create the tables.</p>
            </dd>
            <dt>Factories</dt>
                    <dd class="col"><pre>#       /laragigs/database/factories/
#       |-- UserFactory.php</pre>
                    
                    <p>Used with DatabaseSeeders file to create data. E.g.</p>
                        <pre>    public function definition()
    {
        return [
            'name' => $this->faker->name(),
            'email' => $this->faker->unique()->safeEmail(),
            'email_verified_at' => now(),
            'password' => '$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', // password
            'remember_token' => Str::random(10),
        ];
    }</pre></dd>
        <p>Arisan can also make the ./factories files. E.g. <code class="cli"> php artisan make:factory ListingFactory</code></p>
            <dt>Seeders</dt>
            <dd class="col"><pre>#       /laragigs/database/seeders/
#       |-- DatabaseSeeder.php</pre>
                    <code class="cli">php artisan db:seed</code>
            <p>In the DatabaseSeeder.php file is a method:<pre>    public function run()
    {
        // \App\Models\User::factory(10)->create();
    }</pre><br>which will seed the database with (10) "fake" users.
            <dt id="ORM_dt">ORM</dt>
            <dd class="col"><strong>O</strong>bject <strong>R</strong>elational <strong>M</strong>apper
                <dl>
                  <dt id="eloquent">Eloquent</dt>
                  <dd class="col">Laravel's data model, or ORM. E.g. model name, find, etc.<code class="cli">php artisan make:model name_of_model</code>
        where the name of the model here is "listing"
                <p>While creating the listings.blade.php “Blade” template / view... 
after copy / pasting the HTML from the laragigs-main _templates folder,
changed the &#x3c;a href ... &#x3e; using what's provided through Eloquent, using the array operator: <code>{{$listing->title}}</code> </p>
                  </dd>
                </dl>
          </dd>
                
        </dl>
        </div> <!-- $ :end #laravel_glossary -->
        <p class="content footer cite">Based on Brad Traversy&apos;s <a href="https://github.com/bradtraversy/laragigs" target="_blank" title="View original">Largigs</a> Laravel Tutorial.
        </p>
      </div><!--    $ :end    END class.content (former id.maincol)    $    -->
        </section>
    <section class="footer px-4">                   <!--    .FOOTER     -->
        <div class="row gx-5">
            <div class="col"><div class="p-3 border bg-light"> Based on Notes by <a href="https://github.com/ajaxStardust" target="_blank" title="View original">@ajaxStardust</a> <em>Laravel</em> notes:</div></div>
            <div class="col"><div class="p-3 border bg-light text-end"><kbd><?php echo $lastMod; ?></kbd></div></div>
        </div>
    </section>      
  </div>                                            <!--    .content  -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>